@(users : Seq[model.User])(implicit request: RequestHeader)
@main() {


    <div class="user-display" >
        <fieldset>
            <legend align="center"><h3>Registered Users</h3></legend>
            <table cellspacing="20">
                <tr>
                    <th>userid</th>
                    <th>username</th>
                    <th>hp</th>
                    <th>rp</th>
                    <th>bullets</th>
                </tr>
                @for(user <- users){
                    <tr>
                        <td>@user.id</td>
                        <td>@user.username</td>
                        <td>@user.hp</td>
                        <td>@user.rp</td>
                        <td>@user.bullets</td>
                        <td><a href="@routes.ApplicationController.deleteUser(user.id)">delete</a></td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>

}